[Desktop Entry]
Version=1.0
Name=Brave
GenericName=Web Browser
GenericName[en_GB]=Web Browser
Comment=Access the Internet
Comment[en_GB]=Access the Internet
StartupNotify=true
StartupWMClass=brave-browser
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave --file-forwarding com.brave.Browser @@u %U @@
Terminal=false
Icon=com.brave.Browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;
X-Flatpak=com.brave.Browser
X-XFCE-Source=file:///var/lib/flatpak/exports/share/applications/com.brave.Browser.desktop

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser

[Desktop Action new-private-window]
Name=New Incognito Window
Name[en_GB]=New Incognito window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
